
@{
    ViewData["Title"] = "Home Page ";
}

<style>
    #progressDialogModal {
        display: none !important;
    }
</style>


<style>
    #homePageContent {
    }

    #getStarted {
        background-color: #3498DB !important;
        margin-bottom: 120px;
        margin-top: 20px;
    }

    .alertnatecolor {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #textContent {
        font-size: 15px;
    }

    .homeImage {
        width: 600px;
        min-height: 200px;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .titleContent {
        padding-top: 40px;
    }

    .homeDescription {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>

<div class="container">
    <div class="text-center">
        <img src="~/images/logo.png" alt="Task Planner" />
        <h2 id="homePageContent">
            Task Planner
        </h2>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="textContent">
                <p style="margin-top:15px;line-height:40px;font-size:20px!important" class="secondary-color">A simple easy to use standalone application to plan project road maps, user stories, backlogs, estimates effortlessly using appealing and user friendly interface for software development.</p>
            </div>
        </div>
        <a class="btn btn-primary" id="getStarted" href="https://github.com/bharatdwarkani/taskplanner" target="_blank">Project Source (GitHub)</a>
        <a class="btn btn-primary" id="getStarted" href="/project">Get Started</a>
    </div>
</div>
<div class="container-fluid bg-color" style="background: aliceblue;">
    <div class="container-fluid">
        <div class="row homeDescription">
            <div class="col-md-6">
                <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
            </div>
            <div class="col-md-6">
                <div class="titleContent">
                    <h3>What this application does?</h3>
                </div>
                <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                    <li>Reduces efforts in writing stories.</li>
                    <li>Stories can be created in seconds which would require minutes using actual issue tracker.</li>
                    <li>Preparing roadmaps for projects.</li>
                    <li>Prioritizing and filtering stories.</li>
                    <li>Grouping stories by themes, epics, release and sprints.</li>
                    <li>Preparing and sharing estimates to customer.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row homeDescription">
        <div class="col-md-6">
            <div class="titleContent">
                <h3>Creating new project</h3>
            </div>
            <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                <li>Use add project option to create a project.</li>
                <li>Add a title and a description and your projects gets created in no time.</li>
                <li>Initially this project is visible only to creator but can be shared to others.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
        </div>
    </div>
</div>


<div class="container-fluid" style="background: aliceblue;">
    <div class="container-fluid">
        <div class="row homeDescription">
            <div class="col-md-6">
                <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
            </div>
            <div class="col-md-6">
                <div class="titleContent">
                    <h3>Sharing Project</h3>
                </div>
                <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                    <li>Use share icon to open a permission dialog.</li>
                    <li>Add an Gmail id of user to whom you want to share a project.</li>
                    <li>Copy project link and share to user that's it project is shared.</li>
                    <li>Shared user can work collaboratively in planning stories.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row homeDescription">
        <div class="col-md-6">
            <div class="titleContent">
                <h3>Writing Stories</h3>
            </div>
            <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                <li>Go to project story plan page by clicking on project name.</li>
                <li>Use add option to write stories.</li>
                <li>Title is only mandatory other fields are optional.</li>
            </ul>

        </div>
        <div class="col-md-6">
            <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
        </div>
    </div>
</div>


<div class="container-fluid" style="background: aliceblue;">
    <div class="container-fluid">
        <div class="row homeDescription">
            <div class="col-md-6">
                <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
            </div>
            <div class="col-md-6">
                <div class="titleContent">
                    <h3>Group by themes, epic</h3>
                </div>
                <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                    <li>Fill an epic and theme fields in stories.</li>
                    <li>Now drag and drop column which you want to group in drop area.</li>
                    <li>That's it your stories are grouped by epics or themes.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row homeDescription">
        <div class="col-md-6">
            <div class="titleContent">
                <h3>Add estimates, penalty, benefit and priority</h3>
            </div>
            <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                <li>Fill  the estimate, penalty and benefit column in grid.</li>
                <li>Now total estimate can be viewed in statistics.</li>
                <li>Using penalty  and benefit features can be sorted and filtered.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
        </div>
    </div>
</div>

<div class="container-fluid" style="background: aliceblue;">
    <div class="container-fluid homeDescription">
        <div class="row homeDescription">
            <div class="col-md-6">
                <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
            </div>
            <div class="col-md-6">
                <div class="titleContent">
                    <h3>Plan for release or sprint</h3>
                </div>
                <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                    <li>Sprint and release fields which are hidden under column chooser when filled this feature can be utilised.</li>
                    <li>Once filled stories can be grouped and sorted by these fields.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row homeDescription">
        <div class="col-md-6">
            <div class="titleContent">
                <h3>Including more fields</h3>

            </div>
            <ul style="margin-top:20px;margin-bottom:30px;margin-left:-20px">
                <li>Fields such as status, sprint, release, assignee etc are hidden in columns chooser.</li>
                <li>Those fields can also be utilised based on project needs.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img class="homeImage" src="http://www.syncfusion.com/downloads/support/directtrac/general/taskplanner541180726.png">
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color:bisque">
    <div class="text-center">
        <h3 id="homePageContent">Use Cases</h3>
    </div>
    <ul style="margin-top:20px;margin-bottom:30px">
        <li>Start-up companies can use this to prepare roadmap for their products.</li>
        <li>Consulting companies can use this to prepare a plan or estimate cost / hour for requirements and also can share to customer.</li>
        <li>Freelancers or small teams can use this to prepare a list of features for their product.</li>
        <li>Product Owners / Scrum master can use this to create a plan for their product release or sprints.</li>
        <li>Product Owners / Scrum master can use this to prepare and share roadmaps.</li>
        <li>As it provides organized for story writing effortlessly  can be used as a replacement for document editors / excel sheets.</li>
        <li>There are several fields which can be used in different ways based on needs either for preparing roadmaps, sprint plan, release plan, preparing estimates.</li>
        <li>Stories can be exported to excel.</li>
        <li>Stories can be be grouped / sorted by themes, epics, estimation, assignee, sprint / release easily.</li>
        <li>Estimate, penalty, benefit & priority can also be set for stories.</li>
        <li>Reduces time and effort to write stories by product owner as they are not writing stories in actual issue tracker, which takes time for a single story creation, who can then pass on written stories to scrum masters to convert to actual tasks with detailed requirement in issue tracker.</li>
        <li>Can be used as a initial stage tool in software development lifecycle for filtering features and setting priority.</li>
        <li>Can also be used as an application to create check lists. Share testing plan to testing engineers.</li>
    </ul>
</div>

<div class="container-fluid" style="background-color:whitesmoke">
    <div class="text-center">
        <h3 id="homePageContent">Future Enhancements</h3>
    </div>
    <ul style="margin-top:20px;margin-bottom:30px">
        <li>Integration with Trello, GitHub, GitLab & Jira.</li>
        <li>Importing stories using xml ,excel or csv files.</li>
        <li>Serialisation and storing fields in database based on projects. At presents it needs to be selected or deselected from column chooser every time.</li>
        <li>User story mapper module to get birds eye view of project.</li>
        <li>Kanban boards for roadmaps, priority, release and sprint plans.</li>
    </ul>
</div>


<p class="text-center" style="margin-top:30px">&copy; 2017 - Task Planner</p>

