
@{
    ViewData["Title"] = "Home Page ";
}

<style>
    #progressDialogModal {
        display: none !important;
    }
</style>

<div class="jumbotron">
    <h2>Task Planner</h2>

    <h3 class="secondary-color ">A simple easy to use application to create roadmaps, user stories, project estimates effortlessly using easy to use interface.</h3>

</div>