<style>
    
	.e-dlg-content {
		padding-bottom: 5px !important;
	}
</style>
<form id="form-element">
    <label class="addproject-errorlabel" style="color: red;" id="erroraddproject"></label>      
    <div class='row'>
        <div class='col-sm-12'>
            <div class="e-float-input">
                <input type="text" required="" id="projectnameinput" maxlength="50">
                <span class="e-float-line"></span>
                <label class="e-float-text required" id="projectNameLabel">Project Name</label>
                <label class="errorLabel" style="color: red;" id="errorprojectName"></label>
            </div>
        </div>
    </div>    
    <div class='row'>
        <div class='col-sm-12'>
            <div class="e-float-input">
                <input type="text" required="" id="descriptioninput" maxlength="100">
                <span class="e-float-line"></span>
                <label class="e-float-text" id="descriptionLabel">Description</label>
                <label class="errorLabel" style="color: red;" id="errorprojectDescription"></label>
            </div>
        </div>
    </div>  
  
  
    <div id="dialogWrapper" class="content-wrapper">
        <div id="commonAlertDialog"></div>
    </div>
   
</form>

