@model TaskPlanner.Models.ProjectObjects
@using TaskPlanner.Models
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Projects";
    List<ProjectListObjects> storyData = new List<ProjectListObjects>();
    if (Model != null && Model.ProjectListObjects != null && Model.ProjectListObjects.Count > 0)
    {
        storyData = Model.ProjectListObjects;
    }
    var storyDataValue = "[]";
    if (storyData.Count > 0)
    {
        storyDataValue = JsonConvert.SerializeObject(storyData);
    }
}
<style>
    .page-sub-header {
        margin-left: -15px;
        margin-right: -15px;
        min-height: 90px;
        background: #fff;
        padding-top: 15px;
        box-shadow: 0 1px 1px -1px rgba(0,0,0,.34), 0 0 6px 0 rgba(0,0,0,.14);
    }

    .page-header-title {
        font-size: 16px;
        font-weight: 100;
        padding-left: 20px;
        color: white;
    }

    .tab.nav-tabs {
        text-transform: uppercase;
    }

    .no-bottom-border {
        border-bottom: 0 !important;
    }

    .nav.nav-tabs li {
        background: 0;
        border: 0;
    }

    .tab.nav-tabs > li.active > a, .tab.nav-tabs > li.active > a:hover, .tab.nav-tabs > li.active > a:focus {
        background-color: #4285f6;
        color: white !important;
        border: 0;
        border-bottom: 3px solid white;
        font-weight: 500;
    }

    .tab.nav-tabs > li > a {
        color: #ffffb3 !important;
        font-weight: 400;
    }

        .tab.nav-tabs > li > a:hover, .tab.nav-tabs > li > a:focus {
            background-color: #4285f6;
            color: #ffffb3 !important;
            border-color: transparent;
        }

    #yours {
        padding-left: 10px;
    }

    #progressDialogModal {
        display: none;
    }

    #addButton {
        display: block !important;
        float: right;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .e-btn.e-flat {
        color: #757575 !important;
    }


    .fa, .glyphicon {
        color: rgba(0,0,0,.54);
    }
</style>
@section Styles{ 
<link href="~/css/ej2/material.css" rel="stylesheet" />
<link href="~/css/toast.css" rel="stylesheet" />
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            storiesList = @Html.Raw(storyDataValue);
        });

    </script>
<script src="~/js/ej2/ej2.min.js"></script>
<script src="~/js/toast.js"></script> 
<script src="~/js/projects.js"></script>
}
<div class="row page-sub-header" style="margin-bottom: 0;padding-bottom: 0; background: #4285f6">
    <div class="page-header-title">
        <p style="font-weight:400">Projects</p>
    </div>
    <div id="toast_type"></div>
    <div style="margin-top: 10px;margin-bottom: -4px;">
        <ul id="page-sub-header-menu-links" class="nav nav-tabs tab no-bottom-border" style="display:inline-block">
            <li onclick="yoursClick('yours')" id="yours" class="active"><a id="yours" data-toggle="tab" href="#home">Your's</a></li>
            <li onclick="favouritesClick('favourites')" id="favourites"><a data-toggle="tab" href="#menu1">Favourites</a></li>
            <li onclick="allClick('all')" id="all"><a data-toggle="tab" href="#menu2">All</a></li>
        </ul>
    </div>

</div>

<div class="alert alert-info" style="margin-top:20px;margin-bottom:10px">
    <ul style="margin-left:-10px">
        <li>Projects created by you or shared to you will be listed in this page. If a project is created by you, then you have options to edit, delete, or share the project.</li>
        <li>Sharing a project to a person is simple. Choose the share option and add Gmail ID of the user to whom you want to share.</li>
        <li>After a project is created, click the project name to open the project details page and add stories.</li>
    </ul>
</div>
<div id="toast_type"></div>
<div id="target">
    <div id="addButton" class="e-css e-btn e-primary" onclick="loadProjectDialog()" style="margin-bottom:10px">ADD PROJECT</div> 
</div>
<div id="projectmodalDialog">

</div>

<div id="sharemodalDialog">

</div>

<div id="projecttabGrid" style="padding-top:50px;">
    @Html.Partial("~/Views/Project/_projects.cshtml", Model)
</div>

