bin
obj
packages
.vs/
site
publish
api
*.pubxml 
*.user
*.bat
!StagingServer.pubxml
!LocalMachine.pubxml
CodeCoverageReport
node_modules
!DeleteNodePackages.bat
!InstallNpmModules.bat
tools
TestResult.xml
cireports 
lib
dist 
StyleCop.Cache
*StyleCopAnalysis.xml
*JSLintAnalysis.html