
@{
    ViewData["Title"] = "Projects";
}

<style>
	.page-sub-header {
		margin-left: -15px;
		margin-right: -15px;
		min-height: 90px;
		background: #fff;
		padding-top: 15px;
		box-shadow: 0 1px 1px -1px rgba(0,0,0,.34), 0 0 6px 0 rgba(0,0,0,.14);
	}

	.page-header-title {
		font-size: 16px;
		font-weight: 100;
		padding-left: 20px;
		color: white;
	}

	.tab.nav-tabs {
		text-transform: uppercase;
	}

	.no-bottom-border {
		border-bottom: 0 !important;
	}

	.nav.nav-tabs li {
		background: 0;
		border: 0;
	}

	.tab.nav-tabs > li.active > a, .tab.nav-tabs > li.active > a:hover, .tab.nav-tabs > li.active > a:focus {
		background-color: #4285f6;
		color: white !important;
		border: 0;
		border-bottom: 3px solid white;
		font-weight: 500;
	}

	.tab.nav-tabs > li > a {
		color: #ffffb3 !important;
		font-weight: 400;
	}

	.tab.nav-tabs > li > a:hover, .tab.nav-tabs > li > a:focus {
		background-color: #4285f6;
		color: #ffffb3 !important;
		border-color: transparent;
	}

	#yours {
		padding-left: 20px;
	}

    #progressDialogModal {
        display: none !important;
    }
</style>

<div class="row page-sub-header" style="margin-bottom: 0;padding-bottom: 0; background: #4285f6">
	<div class="page-header-title">
		<p>Projects</p>
	</div>
	<div style="margin-top: 10px;margin-bottom: -4px;">
		<ul id="page-sub-header-menu-links" class="nav nav-tabs tab no-bottom-border" style="display:inline-block">
			<li class="active"><a id="yours" data-toggle="tab" href="#home">Your's</a></li>
			<li><a data-toggle="tab" href="#menu1">Favourites</a></li>
			<li><a data-toggle="tab" href="#menu2">All</a></li>
		</ul>
	</div>
</div>

<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<h3>Your's</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	<div id="menu1" class="tab-pane fade">
		<h3>Favourites</h3>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
	<div id="menu2" class="tab-pane fade">
		<h3>All</h3>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
	</div>
</div>

